DirectoryIndex index.php index.html

RewriteEngine on



RewriteCond %{HTTP_HOST} www?.vocalendar?.jp
RewriteRule .* http://vocalendar.jp%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)$ index.php?if=$1 [L,QSA]
